    html, body{margin: 0; padding: 0;}
/*헤더부분 시작*/
body{background-color:black;}
header {
    position: fixed;
}

/*아티클 시작*/
#article_1, #article_2, #article_3{
    width: 100%;
    height: 1100px;
}
#article_1{padding-top: 150px;}
#article_1 div h1, #article_1 div p , #article_2 div h1, #article_2 div p, #article_3 div h1, #article_3 div p {
    margin: 0;
}

/*아티클1 팀 선수 목록*/
#arc1_img{
    width: 50%;
    margin-top: 200px;
    height: 800px;
    float: right;
    background-position: center top;
    background-size: cover;
    text-align: right;
    background-image: url(../img/Lebron2_2.jpg);
}
.hero-image::after {
    display: block;
    position: relative;
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 40%, black 100%);
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 40%, black 100%);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, black 100%);
    height: 100%;
    width: 100%;
    content: '';
}
#atc_txt_1{
    width: 50%;
    height: 1000px;
    text-align: center;
}
#atc_head_1{
    padding-top: 30vh;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    color: aliceblue;
    padding-left: 200px;
}
#atc_head_p_1{
    padding-top: 5vh;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: aliceblue; 
    padding-left: 200px;
}
#atc_btn_div_1{
    margin-top: 80px;
    padding-left: 500px;
    text-align: left;
}
#atc_head_p_size_1{
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 60px;
    background-color: #ffffff;
    opacity: 0.8;
}
#atc_little_head_1{
    text-align: left;
    color: #a1a1f0;
    padding-top: 80px;
    padding-right: 400px;
    font-size: 20px;
    padding-left: 200px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
#atc_discribe_1{
    text-align: left;
    color: aliceblue;
    padding-top: 50px;
    padding-left: 190px;
    font-size: 35px;
    font-style: italic;
    display: inline-block;
    width: 80%;
}
#atc_discribe_div_1{
    text-align: left;
}
    
/*분야별 랭킹 분석*/
#arc2_img{
    width: 50%;
    margin-top: 200px;
    height: 800px;
    float: left;
    background-position: center;
    background-size: cover;
    text-align: right;
    background-image: url(../img/dunk3.gif);
}
.atc_txt_23{
    width: 100%;
    height: 1000px;
    text-align: center;
}
.atc_head_23{
    padding-top: 30vh;
    padding-right: 290px;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    color: aliceblue;
}
.atc_head_p_23{
    padding-top: 5vh;
    padding-right: 720px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    color: aliceblue; 
    padding-left: 200px;
}
.atc_btn_div_23{
    margin-top: 80px;
    padding-left: 500px;
    text-align: center;
}
.atc_head_p_size_23{
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 60px;
    background-color: #ffffff;
    opacity: 0.8;
}
.atc_little_head_23{
    text-align: right;
    color: #a1a1f0;
    padding-top: 80px;
    padding-right: 770px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.atc_discribe_23{
    text-align: right;
    color: aliceblue;
    padding-top: 50px;
    padding-right: 55px;
    margin-right: 120px;
    font-size: 35px;
    display: inline-block;
    font-style: italic;
    text-align: left;
    width: 38%;
}
.atc_discribe_div_23{
    text-align: right;
}

/*자유 게시판*/
#arc3_img{
    width: 50%;
    height: 1000px;
    float: left;
    background-position: left;
    background-size: cover;
    text-align: left;
    background-image: url(../img/NBA1.jpg);
}
#atc_head_3{
    padding-top: 30vh;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    color: aliceblue;
    padding-right: 380px;
}
#atc_head_p_3{
    padding-top: 5vh;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    color: aliceblue;
    font-style: italic;
    padding-right: 695px;
}
#atc_little_head_3{
    text-align: right;
    color: #a1a1f0;
    padding-top: 80px;
    padding-right: 760px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
#atc_discribe_3{
    text-align: right;
    color: aliceblue;
    padding-top: 50px;
    padding-right: px;
    margin-right: 130px;
    font-size: 35px;
    display: inline-block;
    font-style: italic;
    width: 38%;
}

/*  피규어  */
figure{
    width: 100%;
    height: 100%;
}

/* 상단으로 가기 버튼*/
#move_top {
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
    color: aliceblue;
}
#article_3{text-align: center;}

/* 좋아요 */
#like{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
}
#like:hover {cursor: pointer;}
#heart {
    padding-top: 20px;
    color: red; 
    font-size: 25px;
}
#like_count{color:aliceblue;}

